.main {
	background: rgb(230, 230, 230);
	width: calc(100% - 1.2rem);
	display: flex;
	justify-content: space-between;
	margin: .3rem;
	padding: .3rem;
	flex-direction: column;
}
.topDescription {
	display: flex;
}
.image {
	min-width: 300px;
	width: 300px;
	height: auto; 
	z-index: 2;
}

.image img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.body {
	padding: .3rem 1rem;
	flex-direction: column;
	z-index: 1;
	width: 100%;
}

.body > div {
	border-bottom: 1px solid rgb(60, 60, 60)
}

.title {
	display: flex;
	flex-direction: column;
	align-self: center;
	border: none !important;
}
.title div {
	text-align: center;
}
.title div:nth-child(2) {
	font-size: 1.2rem;
}

.year {
	display: flex;
	flex-direction: row;
}
.year > div:first-child {
	width: 20%;
	display: flex;
}
.year > div:first-child > div:first-child{
	align-self: center;
	background-image: url('/date.svg');
	min-width: 1.4rem;
	height: 1.4rem;
	background-size: 100% 100%;
	margin: 0 .5rem 0 0;
}


.year > div:first-child > div:nth-child(2){
	margin-right: 1rem;
	text-align: center;
}

.countries {
	display: flex;
	flex-direction: row;
}
.countries > div:first-child {
	display: flex;
	flex-direction: row;
	width: 20%;
}
.countries > div:first-child > div:first-child {
	background-image: url('/country.svg');
	min-width: 1.4rem;
	height: 1.4rem;
	background-size: 100% 100%;
	align-self: center;
	margin: 0 .5rem 0 0;
}
.countries > div:first-child > div:nth-child(2) {
	align-self: center;
}
.countries > div:last-child {
	display: flex;
	flex-direction: column;
}


.genres {
	display: flex;
	flex-direction: row;
}

.genres > div:first-child {
	display: flex;
	flex-direction: row;
	width: 20%;
}

.genres > div:first-child > div:first-child {
	background-image: url('/genres.svg');
	min-width: 1.4rem;
	height: 1.4rem;
	background-size: 100% 100%;
	align-self: center;
	margin: 0 .5rem 0 0;
}

.genres > div:first-child > div:last-child {
	align-self: center;
}

.genres > div:last-child {
	display: flex;
	flex-direction: column;
}

.overview {
	padding: .5rem 1.5rem;
}



@media screen and (max-width: 950px) {
	.image {
		min-width: 200px;
		width: 200px;
		height: auto;
	}
	.image img {
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	.year {
		flex-direction: column;
	}
	.year > div:last-child {
		align-self: center;
	}
	.countries {
		flex-direction: column;
	}
	.countries > div:last-child > div {
		text-align: center;
		border-bottom: .1rem solid orange
	}
	.countries > div:last-child > div:last-child {
		border:none;
	}

	.genres {
		flex-direction: column;
	}
	.genres > div:last-child > div {
		text-align: center;
		border-bottom: .1rem solid orange
	}
	.genres > div:last-child > div:last-child {
		border:none;
	}

}


@media screen and (max-width: 1280px) {
	.year > div:first-child, .countries > div:first-child, .genres > div:first-child{
		width: 25%;
	}
}

@media screen and (max-width: 520px){
	.topDescription {
		flex-wrap: wrap;
		max-width: 100%;
	}
	.image {
		max-width: 100%;
		width: 100%;
		height: auto;
		display: flex;
	}
	.image img {
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
		align-self: center;
		background-size: 100% 100%;
		background-position: center;
	}
}
